*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
   background:linear-gradient(#67b26f,#4ca2cd) ;
   display:flex;
    justify-content:center;
    align-items: center;
}
.pizza-image{
    display:block;
    width:100%;
    height: 100%;
}

.pizza{
    max-width: 1000px;
    display:flex;
    height:250px;
    box-shadow: 2px 2px  32px 12px rgba(0,0,0,0.2);
    border-radius: 10px;
    flex-wrap: wrap;
}


.pizza_image{
   flex:0 1 40%;
}
.pizza_content{
    background-color:white;
    flex:1;
    padding:20px;

}
.pizza_price{
    width:40px;
    font-size:24px;
    background:linear-gradient(#67b26f,#4ca2cd);
    color:white;
    writing-mode:vertical-rl;
    display:flex;
    justify-content: center;
    align-items: center;
}
.title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.pizza_tag{
    text-transform:uppercase;
    font-size:15px;
    margin-left: 10px;
    padding:4px;
    border-radius: 100px;
    color:white;
}
.pizza_tag:hover{
    transform:scale(1.15);
}
.pizza_tag-1{
    background: green;
}
.pizza_tag-2{
    background: blue;
    margin-right: 40px;
}
h1{
    margin-right: auto;
}
.paragraph{
    font-size:20px;
    margin-bottom: 45px;;
}
.details{
    display:flex;
}
.detl{
    font-size:25px;
    margin-right: 40px;
}
.emoji{
    color:orange;
    margin-right: 5px;
}